# intermediate files
node_modules/
temp/
build/
bin/

# Cordova - platforms and plugins
/app/platforms/
/app/plugins/
/app/test/www/*

# res
**/resources/signing

# where the build script stores the apk
/app/dist/inMyDistrict.*

# keys, configuration and credentials
## this one is copied from keys-configs/ to www/js/ upon build
/keys-configs/*
/app/www/js/appSecrets.js

## except samples
!keys-configs/configs.sample.json
!keys-configs/appSigningEnvs.sample

#upload script to server
/server/uploadToServer.sh

# configs from Atom
.on-save.json

#server
/server/uploadedImages/
