# intermediate files
node_modules/
temp/
build/
bin/

# anomalies file to be amended is /commons/json/anomalies.json
/app/www/json/anomalies.json

# Cordova - platforms and plugins
/app/platforms/
/app/plugins/
/app/test/www/*

# res
**/resources/signing

# where the build script stores the apk
/app/dist/inMyDistrict.*

# keys and credentials
## this one is copied from keys/ to www/js/ upon build
/keys/*
/app/www/js/appSecrets.js

## except samples
!keys/serverSecrets.sample.json
!keys/appSecrets.sample.js
!keys/appSigningEnvs.sample

#upload script to server
/server/uploadToServer.sh

# configs from Atom
.on-save.json

#server
/server/uploadedImages/
