<div id="privacy_policy" class="section">
  <h4>Quem está a fazer o pedido de dados?</h4>
  <p class="lead">
    A APP "No meu Bairro!" foi desenvolvida por João Pimentel Ferreira, com a contribuição valiosa de Daniel Gomes para a versão iOS,
    tendo sido promovida com o intuito de aproximar os cidadãos munícipes com os seus serviços municipais.
  </p>
  <h4>Que dados estão a ser requeridos?</h4>
  <p class="lead">
    Os dados que a APP pede fazendo uso do Nominatim do Open Street Maps, são unicamente dados referentes à sua localização (latitude e longitude),
    para assim podermos calcular com a precisão possível o endereço da ocorrência ou anomalia.
    Esta APP não envia ao Open Street Maps quaisquer dados que não seja a sua geolocalização e de forma completamente anónima.
    Adicionalmente, os dados das anomalias são anonimamente, i.e., sem qualquer informação relativa ao denunciante, guardados numa base de dados.
    Os seus dados pessoais que colocar na APP ficarão guardados apenas e somente no seu dispositivo, para futuras ocorrências.
    Ao abrigo da lei de proteção de dados, os municípios não revelam os dados do requerente.
  </p>
  <h4>Porque motivo fazemos esta recolha de dados?</h4>
  <p class="lead">
    Os dados geográficos referentes ao serviço Nominatim do Open Street Maps são usados para calcular com precisão o endereço postal da ocorrência,
    para assim o utilizador poder redigir a comunicação ao município de forma automatizada.
    Os dados das anomalias, excetuando os dados do utilizador que as comunica,
    são recolhidos anonimamente para processamento estatístico e para evitar abusos na utilização desta aplicação.
    Queremos também providenciar informação geográfica aos nossos utilizadores sobre as diversas ocorrências.
  </p>
</div>
